*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header__container{
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
}

/*.header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
}*/

nav{
    display: block;
}

img{
    display: block;
    max-width: 100%; 
}

a{
    text-decoration: none;
}

main{
    display: block;
}

section{
    display: block;
}

h1, h2, h3{
    margin: 0 0 2rem 0;
}

h2{
    font-size: 2.25rem;
    font-weight: bold;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
}

/* -------------------------- Logo ---------------------------- */

.logo{
    width: 19rem;
}

/* -------------------------- Menu Principal ---------------------------- */

.menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: auto;
}

.menu__items{
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
}

.menu__items__registrar{
    background-color: #e8505b;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: none;
}

/* -------------------------- Busca Restaurante ---------------------------- */

.busca__restaurante{
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

.busca__restaurante__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.busca__restaurante__formulario{
    display: flex;
    background-color: #e8505b;
    padding: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
}

/* -------------------------- Formulario Busca Restaurante ---------------------------- */

.formulario__title{
    color: #ffffff;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.formulario__items{
    margin-bottom: 0.6rem;
}

.formulario__label{
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0.70rem 0;
}

.formulario__input{
    width: 100%;
    padding: 1rem;
    border: none;
}

.formulario__button{
    margin: 1rem 0;
    background-color: #455a64;
    color: #ffffff;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    border: none;
}

.imagen__delivery{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

/* -------------------------- Indicaciones ---------------------------- */

.indicaciones{
    margin-top: 3rem;
}

.indicaciones__container{
    background-color: #e8505b;
    padding-top: 50px;
}

.indicaciones__title{
    text-align: center;
    color: #ffffff;
}

.indicaciones__subtitle{
    font-size: 1.25rem;
    display: block;
    text-align: center;
}

.indicaciones__items__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

/* -------------------------- Testimoniales ---------------------------- */

.testimoniales{
    padding: 3rem 0;
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

.testimoniales__title__main{
    text-align: center;
}

.testimoniales__title{
    color: #ffffff;
    font-weight: bold;
    margin: 0.5rem 0;
}

.testimoniales__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.testimoniales__items{
    background-color: #455a64;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.testimoniales__items:nth-child(1){
    grid-column: 1 / 4;
}

.testimoniales__items:nth-child(3) {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
}

.testimoniales__items:nth-child(4) {
    grid-column: 1 / 3;
}

.testimoniales__items:nth-child(5) {
    grid-column: 3 / 5;
}

.testimoniales__header{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.testimoniales__imagen{
    flex-basis: 6rem;
	border-radius: 50%;
	overflow: hidden;
}

.testimoniales__title{
    color: #ffffff;
    font-weight: bold;
    margin: 0.5rem 0;
}

.testimoniales__texto{
    font-size: 1.25rem;
	line-height: 1.5;
	margin: 1rem 0 0 0;
	padding-left: 1.25rem;
	position: relative;
	color: #fff;
}

/* -------------------------- Restaurantes Favoritos ---------------------------- */

.restaurantes{
    background-color: #eceeef;
    padding: 3rem 0;
}

.restaurantes__title{
    text-align: center;
    color: #455a64;
}

.restaurantes__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

.restaurante{
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0px 0px 2.6rem -0.8rem #99a4a9;
    border-radius: 1rem;
}

.restaurante__main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 2.5rem;
}

.restaurante__img{
    max-width: 20rem;
    margin: 0 auto 2rem auto;
}

.restaurante__name{
    margin: 0.5rem 0;
    color: #e8505b;
    font-size: 1.5rem;
}

.restaurante__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.restaurante__texto{
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #455a64;
    line-height: 1.7;
}

/* ----------------------------------- Gana dinero --------------------------------- */

.gana__dinero{
    padding: 3rem 0;
}

.gana__dinero__title{
    text-align: center;
    color: #455a64;
}

.gana__dinero__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

.gana__dinero__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.gana__dinero__parrafo{
    line-height: 1.5;
    color: #455a64;
}

.gana__dinero__button{
    background-color: #e8505b;
    font-size: 1.25rem;
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: 700;
    width: auto;
    text-align: center;
    color: #ffffff;
    border: none;
}

/* ----------------------------------------- Footer ------------------------------- */

.footer{
    background-color: #455a64;
    padding-top: 3rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 76%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer__items{
    margin-bottom: 4rem;
}

.footer__items__title{
    color: #ffffff;
    margin: 0;
}

.footer__items__texto{
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #ffffff;
    width: 90%;
    max-width: 370px;
}

.footer__menu{
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
}

.footer__enlace{
    font-size: 1.25rem;
    line-height: 1.8;
    color: #ffffff;
    width: 370px;
}

.copyright{
    font-size: 1.25rem;
    background-color: #e8505b;
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
}

@media (max-width: 1142px){
    .header__container{
        display: block;
    }
    .menu{
        margin-top: 1rem;
    }
    .testimoniales__container{
        display: block;
        /*grid-template-columns: repeat(5, 1fr);*/
        grid-template-column: 1fr;
        column-gap: 20px;
    }
    .restaurantes__container{
        display: block;
    }
    .restaurante{
        margin-bottom: 1rem;
    }
    .gana__dinero__container{
        display: block;
    }
    .gana__dinero__parrafo{
        margin: 1rem 0;
    }
    .footer__container{
        display: block;
    }
    .footer__items__texto{
        width: 90%;
    }
}

@media (max-width: 680px){
    .header__container{
        display: block;
    }
    .busca__restaurante__container{
        display: block;
    }
    .indicaciones__items__list{
        display: block;
    }
    .restaurante__main{
        display: block;
    }
}